.clearfix {
  @extend %clearfix;
}

.wrapper {
  width: 90%;
  margin: auto;
  text-align: center;
}

main {
  width: 100%;
  background: $white;
  padding: 20px 0 40px;

  img {
    max-width: 100%;
  }
}

header {
  padding-bottom: 25px;

  h1 {
    padding: 10px;
    @extend %bold;

    @include mediaQueryBreakpoint(medium) {
      padding: 0;
    }
  }
}

.intro {
  img {
    @extend %margin;
    width: 70%;
    max-height: 255px;
  }

  @include mediaQueryBreakpoint(medium) {
    & {
      display: flex;

      img {
        width: 45%;
        margin: 30px 0;
        padding: 0 5px;
      }

      p {
        order: -1;
        width: 55%;
        text-align: left;
        margin: 30px 0;
        padding: 0 5px;
      }
    }
  }

  @include mediaQueryBreakpoint(large) {
    & {
      p {
        padding-right: 20px;
      }

      img {
        padding-left: 20px;
      }
    }
  }
}

.col {
  @extend %margin;

  @include mediaQueryBreakpoint(medium) {
    & {
      width: 50%;
      padding: 0 5px;

      p {
        width: 90%;
        margin: auto;
      }
    }
  }

  @include mediaQueryBreakpoint(large) {
    width: calc(100% / 3);
  }
}

.contact-info {
  padding: 40px 0;
}

.contact-message {
  padding: 10px 0;

  @include mediaQueryBreakpoint(medium) {
      width: 70%;
      margin: auto;
  }

  @include mediaQueryBreakpoint(large) {
    width: 50%;
  }
}

@include mediaQueryBreakpoint(medium) {
  .projects {
    display: flex;
    flex-wrap: wrap;
  }
}

@include mediaQueryBreakpoint(large) {
  .container {
    width: 90%;
    margin: auto;
  }
}
