* {
  box-sizing: border-box;
}

body {
  background: $color-background;
  font-family: $open-sans;
}

span {
  @extend %bold;
  color: $dark-grey;
}

a {
  text-decoration: none;
  color: $black;
}

footer p,
header p {
  color: $grey;
}

.important {
  @extend %uppercase;
}
