// Descriptive color variables
$grey               : #b3b3b3;
$white              : #fff;
$black              : #000;
$dark-grey          : #999;
$color-background   : #f9f9f9;


// Font stacks
$stack-sans-serif   : Helvetica, Arial, sans-serif;
$open-sans          : 'Open Sans', $stack-sans-serif;

// Media Query Break Points
$breakpoint-medium  : 768px;
$breakpoint-large   : 1024px;
